*
    font-family sans-serif
    font-size inherit
    margin 0
    padding 0
    border 0
    box-sizing border-box
#Shikishi
    --size: 23vmax;
    --sizeSize: calc(var(--size)*5)
#top
    --size: 23vmax;
#homeLink
    position relative
    &:after
        content "◀︎"
        position absolute
        top 50%
        left 50%
        transform scale(-50%,-50%)
body
    background #000
.open
    #base
        animation fadeOut .3s ease-in forwards
img
    float: left;
    display: block;
    width var(--size)
    height var(--size)
    border-radius 50%
    transform:rotate(-45deg)
    transform-origin 50% 50%
    will-change transform opacity
    transform:scale(0) rotate(-45deg);
    opacity 0
    transition .3s ease-in
    &:hover
        opacity .4 !important
.img
    transition none !important
#homeC:hover
    content: url("chatsumi-hover.jpg")
#homeN:hover
    content: url("nino-hover.jpg")
#base
    width var(--sizeSize)
    height var(--sizeSize)
    min-width var(--sizeSize)
    min-height var(--sizeSize)
    transform rotate(45deg)
html,body,#baseBase
    display inline
    width 500%
    height 500%
#baseBase
    display: flex;
    justify-content: center;
    align-items: center;
footer
    font-size 1.5vmax
    position fixed
    bottom 30px
    left 50%
    transform: translateX(-50%);
    opacity .5
    
@keyframes fadeOut
    0%
        opacity: 1
        transform:scale(1) rotate(45deg);
    100%
        opacity 0
        transform:scale(2) rotate(45deg);